* { font-family: "Segoe UI", Tahoma; }

#invalid { font-color:red; visible:false; }

.error { color: red; }
input.Field { display: block; }

.Spinner {
/*	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;*/
	height: 16px;
	width: 16px;
/*	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;*/
	-webkit-mask-image: url(loading-spinner.png);
	background-color: #999;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	display:none;
}
/* Lobby menu */
ul {-webkit-padding-start: 0px;}
ul.nav {border-bottom: 1px solid #999;}
ul.nav li a {display: block; text-decoration: none; color: #333; padding: 5px; border: 1px solid #fff;}
ul.nav > li:hover {border: 1px solid #666; border-bottom: 1px solid #fff;}
ul.nav li a:hover {background: #ccc; border: 1px solid #999;}
ul.nav > li {display: inline-block; position: relative; border: 1px solid #fff;}
ul.nav > li:last-child {float: right;}
ul.nav > li ul {display: none; position: absolute; left: -1px; width: 150px; border: 1px solid #666; border-top-color: #fff; margin-top: 1px;}
ul.nav > li:last-child ul {left: auto; right: 0px;}
ul.nav > li:hover ul {display: block;}
ul.nav > li ul li {display: block;}

#overlay {
	visibility:hidden;
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height:100%;
	text-align:center;
	z-index:1000;
	background-color:rgba(0,0,0,.4);
}
#overlay > div{
	width:300px;
	margin:100px auto;
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px;
	text-align:center;
}

div.player { text-align:left;}
